section.about
	nav.breadcrumb
		.container
			a.item(href='index.html') Trang chủ
			a.item(href='safety.html') Chúng tôi
	.page-content
		.container
			.row
				.col-lg-8.content
					.row.no-gutters
						.col-lg-6
							.left
								h4 Sử dụng Craigslist
								.item
									a(href="#") CL hỗ trợ
									p Cần hỗ trợ?
								.item
									a(href="#") FAQ
									p Câu hỏi thường gặp
								.item
									a(href="#") Điều khoản sử dụng
										sup mới
									p Xin vui lòng đọc kỹ điều khoản
								.item
									a(href="#") Chính sách
									p Bảo mật thông tin người dùng
								.item
									a(href="#") Liên hệ
									p Liên hệ với chúng tôi khi cần
								.item
									a(href="#") CL diễn đàn
										sup mẹo
									p Từ người dùng có kinh nghiệm
								.item
									a(href="#") Tránh lừa đảo
									p Một số lưu ý để tránh gặp phải lừa đảo
						.col-lg-6
							.right
								h4 Về Craigslist
								.item
									a(href="#") Công việc ở CL
									p Chúng tôi đang tuyển dụng
								.item
									a(href="#") Người sáng lập
									p CEO Jim Craig
								.item
									a(href="#") Blog
									p Nơi để các bạn chia sẻ
								.item
									a(href="#") Sản phẩm tốt nhất của CL
									p Được người dùng bình chọn
								.item
									a(href="#") Mã nguồn mở
									p Điều khiến CL trở nên tốt hơn
