section.craigslist
	head
		title craigslist | Chính sách bảo mật
	body.simple.footer
		.page-container
			header
				.header-contents
					a(href='/') craigslist
					|  > 
					a(href='/about/') about
					|  > Chính sách bảo mật
			section.simple-page-content
				.container 
					.row 
						.col
							.title 
								h2
									| craigslist Chính sách bảo mật 
									small (cập nhật ngày 9 tháng 7 năm 2015)
								p
									a(href='terms.of.use') điều khoản sử dụng
									a(href='https://forums.craigslist.org/?forumID=8') Phản hồi
							p Chính sách này nêu chi tiết cách dữ liệu về bạn được sử dụng khi bạn truy cập các trang web và dịch vụ của chúng tôi (cùng với "CL") hoặc tương tác với chúng tôi. Nếu chúng tôi cập nhật nó, chúng tôi sẽ sửa lại ngày, đặt thông báo trên CL nếu những thay đổi là quan trọng và / hoặc có được sự đồng ý của bạn theo yêu cầu của pháp luật.
							h3 1. Bảo vệ sự riêng tư của bạn
							ul
								li Chúng tôi thực hiện các biện pháp phòng ngừa để ngăn chặn truy cập trái phép hoặc lạm dụng dữ liệu về bạn.
								li Chúng tôi không chạy quảng cáo, ngoài mục rao vặt được đăng bởi người dùng của chúng tôi.
								li We do not share your data with third parties for marketing purposes.
								li We do not engage in cross-marketing or link-referral programs.
								li We do not employ tracking devices for marketing purposes.
								li We do not send you unsolicited communications for marketing purposes.
								li We do not engage in affiliate marketing (and prohibit it on CL).
								li We do provide email proxy & relay services to reduce unwanted email.
								li Please review privacy policies of any third party sites linked to from CL.
							h3 2. Data we use to provide/improve our services and/or combat fraud/abuse:
							ul
								li data you post on or send via CL, and/or send us directly or via other sites
								li credit card data, which is transmitted to payment processors via a security protocol (e.g. SSL).
								li data you submit or provide (e.g. name, address, email, phone, fax, photos, tax ID).
								li web log data (e.g. web pages viewed, access times, IP address, HTTP headers).
								li data collected via cookies (e.g. search data and "favorites" lists).
								li data about your device(s) (e.g. screen size, DOM local storage, plugins).
								li data from 3rd parties (e.g. phone type, geo-location via IP address).
							h3 3. Data we store
							ul
								li We retain data as needed for our business purposes and/or as required by law.
								li We make good faith efforts to store data securely, but can make no guarantees.
								li You may access and update certain data about you via your account login.
							h3 4. Circumstances in which we may disclose user data:
							ul
								li to vendors and service providers (e.g. payment processors) working on our behalf.
								li to respond to subpoenas, search warrants, court orders, or other legal process.
								li to protect our rights, property, or safety, or that of users of CL or the general public.
								li with your consent (e.g. if you authorize us to share data with other users).
								li in connection with a merger, bankruptcy, or sale/transfer of assets.
								li in aggregate/summary form, where it cannot reasonably be used to identify you.
							p#hh-conten International Users
								span - By accessing CL or providing us data, you agree we may use and disclose data we collect as described here or as communicated to you, transmit it outside your resident jurisdiction, and store it on servers in the United States. For more information please contact our privacy officer at privacy@craigslist.org.
	//- footer
	//- 	ul.clfooter
	//- 		li © craigslist
	//- 		li
	//- 			a(href='//www.craigslist.org/about/help/') help
	//- 		li
	//- 			a(href='//www.craigslist.org/about/scams') safety
	//- 		li.desktop
	//- 			a(href='//www.craigslist.org/about/privacy.policy') privacy
	//- 		li.desktop
	//- 			a(href='https://forums.craigslist.org/?forumID=8') feedback
	//- 		li.desktop
	//- 			a(href='//www.craigslist.org/about/craigslist_is_hiring') cl jobs
	//- 		li
	//- 			a(href='//www.craigslist.org/about/terms.of.use') terms
	//- 		li
	//- 			a(href='//www.craigslist.org/about/') about
