section.privacy
	nav.breadcrumb
		.container
			a.item(href='index.html') Trang chủ
			a.item(href='privacy.html') Giới thiệu
			a.item(href='privacy.html') Chính sách bảo mật
	.page-content
		.container 
			.row 
				.col
					.title 
						h1
							| Chính sách bảo mật 
							span (cập nhật 09/07/2015)
						p
							a(href='#') điều khoản sử dụng
							|  | 
							a(href='#') Phản hồi
					.content
						p Chính sách này nêu chi tiết cách dữ liệu về bạn được sử dụng khi bạn truy cập các trang web và dịch vụ của chúng tôi (cùng với "CL") hoặc tương tác với chúng tôi. Nếu chúng tôi cập nhật nó, chúng tôi sẽ sửa lại ngày, đặt thông báo trên CL nếu những thay đổi là quan trọng và / hoặc có được sự đồng ý của bạn theo yêu cầu của pháp luật.
						h4 1. Bảo vệ sự riêng tư của bạn
						ul
							li Chúng tôi thực hiện các biện pháp phòng ngừa để ngăn chặn truy cập trái phép hoặc lạm dụng dữ liệu về bạn.
							li Chúng tôi không chạy quảng cáo, ngoài mục rao vặt được đăng bởi người dùng của chúng tôi.
							li Chúng tôi không chia sẻ dữ liệu của bạn với các bên thứ ba cho mục đích tiếp thị.
							li Chúng tôi không tham gia vào các trung tâm tiếp thị hoặc liên kết các chương trình giới thiệu.
							li Chúng tôi không sử dụng thiết bị theo dõi cho các mục đích tiếp thị.
							li Chúng tôi không gửi cho bạn liên lạc không mong muốn cho mục đích tiếp thị.
							li Chúng tôi không tham gia vào thị liên kết (và ngăn cấm nó trên CL).
							li Chúng tôi cung cấp email Proxy & Relay dịch vụ để giảm email không mong muốn.
							li Vui lòng xem lại chính sách bảo mật của bất kỳ trang web bên thứ ba nào được liên kết đến từ CL.
						h4 2. Dữ liệu chúng tôi sử dụng để cung cấp/cải thiện dịch vụ của chúng tôi và/hoặc chống lừa đảo/lạm dụng:
						ul
							li Dữ liệu bạn đăng trên hoặc gửi qua CL, và/hoặc gửi cho chúng tôi trực tiếp hoặc thông qua các trang web khác
							li Thẻ tín dụng dữ liệu, được truyền đến bộ vi xử lý thanh toán thông qua một giao thức bảo mật (ví dụ như SSL).
							li Dữ liệu bạn gửi hoặc cung cấp (ví dụ như tên, địa chỉ, email, điện thoại, Fax, hình ảnh, thuế ID).
							li Dữ liệu Nhật ký web (ví dụ: trang web đã xem, thời gian truy cập, địa chỉ IP, tiêu đề HTTP).
							li Dữ liệu được thu thập qua cookie (ví dụ: dữ liệu tìm kiếm và "Favorites " danh sách "yêu thích).
							li Dữ liệu về điện thoại (các) (ví dụ: kích thước màn hình, DOM địa phương lưu trữ, Plugins).
							li Dữ liệu từ các bên thứ 3 (ví dụ: loại điện thoại, địa điểm thông qua địa chỉ IP).
						h4 3. Dữ liệu chúng tôi lưu trữ
						ul
							li Chúng tôi giữ lại dữ liệu khi cần thiết cho mục đích kinh doanh của chúng tôi và/hoặc theo yêu cầu của pháp luật.
							li Chúng tôi làm cho niềm tin tốt nỗ lực để lưu trữ dữ liệu một cách an toàn, nhưng có thể làm cho không có bảo lãnh.
							li Bạn có thể truy cập và cập nhật dữ liệu nhất định về bạn qua đăng nhập tài khoản của mình.
						h4 4. Trường hợp chúng tôi có thể tiết lộ dữ liệu người dùng:
						ul
							li Nhà cung cấp dịch vụ (ví dụ: bộ xử lý thanh toán) làm việc thay mặt chúng tôi.
							li Để đáp ứng với trát lệnh, bảo đảm tìm kiếm, lệnh tòa án, hoặc quy trình pháp lý khác.
							li Để bảo vệ quyền, tài sản của chúng tôi, hoặc an toàn, hoặc của người sử dụng của CL hoặc công chúng nói chung.
							li Với sự đồng ý của bạn (ví dụ: nếu bạn cho phép chúng tôi chia sẻ dữ liệu với những người dùng khác).
							li kết hợp với sự sáp nhập, phá sản, hoặc bán/chuyển nhượng tài sản.
							li Trong hình thức tổng hợp/tóm tắt, nơi mà nó không có thể được dùng để nhận dạng bạn.
						p 
							strong Người dùng quốc tế
							span  - Bằng cách truy cập CL hoặc cung cấp dữ liệu cho chúng tôi, bạn đồng ý chúng tôi có thể sử dụng và tiết lộ dữ liệu chúng tôi thu thập như mô tả ở đây hoặc như truyền đạt cho bạn, truyền nó bên ngoài thẩm quyền cư dân của bạn, và lưu trữ nó trên máy chủ tại Hoa Kỳ. Để biết thêm thông tin xin vui lòng liên hệ với cán bộ bảo mật của chúng tôi tại privacy@craigslist.org.
