footer
	ul.clfooter
		li
			| © 
			span.desktop craigslist
			span.mobile CL
		li
			a(href="https://www.craigslist.org/about/help/?lang=vi") giúp
		li
			a(href="https://www.craigslist.org/about/scams?lang=vi") a.toàn
		li.desktop
			a(href="https://www.craigslist.org/about/privacy.policy?lang=vi") q.r. tư
		li.desktop
			a(href="https://forums.craigslist.org/?forumID=8&lang=vi") phản hồi
		li.desktop
			a(href="https://www.craigslist.org/about/craigslist_is_hiring?lang=vi") vlàm cl
		li
			a(href="//www.craigslist.org/about/terms.of.use.vi") k.hạn
			sup.neu new
		li
			a(href="https://www.craigslist.org/about/?lang=vi") gthiệu
		li.fsel.desktop.linklike(data-mode="mobile") mobile
		li.fsel.mobile.linklike(data-mode="regular") máy tính
