footer
	ul.clfooter
		li
			| © 
			span.desktop craigslist
			span.mobile CL
		li
			a(href="#") giúp
		li
			a(href="#") a.toàn
		li.desktop
			a(href="#") q.r. tư
		li.desktop
			a(href="#") phản hồi
		li.desktop
			a(href="#") vlàm cl
		li
			a(href="#") k.hạn
			sup.neu new
		li
			a(href="#") gthiệu
