footer
	ul.clfooter
		li
			| © 
			span.desktop craigslist
			span.mobile CL
		li
			a(href="#") Trợ giúp
		li
			a(href="#") An toàn
		li.desktop
			a(href="#") Quyền riêng tư
		li.desktop
			a(href="#") Phản hồi
		li.desktop
			a(href="#") Việc làm
		li
			a(href="#") Kỳ hạn
			sup.neu mới
		li
			a(href="#") Giới thiệu
