section.prohibited
	nav.breadcrumb
		.container
			a.item(href='index.html') Trang chủ
			a.item(href='prohibited.html') Bị cấm
	.page-content
		.container
			.row
				.col
					p.child
						a(href="safety.html") An toàn
						|  | 
						a(href="recalls.html") Đổi trả
						|  | 
						a(href="scrams.html") Lừa đảo
						|  | 
						a(href="forum.html") Diễn đàn
					h1 Vật phẩm cấm
					p Người dùng phải tuân thủ tất cả các luật áp dụng, điều khoản sử dụng CL, và tất cả các quy tắc trang web được đăng.
					p Dưới đây là một phần danh sách các hàng hoá, Dịch vụ, và nội dung bị cấm trên Craigslist:
					ul
						li Vũ khí/súng và các thành phần, bom choáng, và các khẩu súng giáo,...
						li Đạn dược, clip, đạn, nạp lại vật liệu, thuốc súng, pháo hoa, chất nổ
						li Cung cấp, chào mời, hoặc tạo thuận lợi cho mại dâm bất hợp pháp và/hoặc buôn bán tình dục
						li Khai thác hoặc đe dọa trẻ vị thành niên; khiêu dâm trẻ em
						li Thuốc theo toa, thiết bị y tế; kiểm soát các chất và các mặt hàng liên quan
						li Rượu hoặc thuốc lá; thức ăn hay Mỹ phẩm không đóng gói hoặc pha trộn
						li Buôn bán động vật, bộ phận động vật
						li Nguy cơ tuyệt chủng, không và/hoặc các loài được bảo vệ và bất cứ phần nào, ví dụ như ngà voi
						li Nội dung sai, sai lầm, lừa đảo hoặc gian lận; mồi và chuyển đổi; thư rác
						li Gây khó chịu, khiêu dâm, phỉ báng, đe dọa, hoặc các bài đăng độc hại hoặc email
						li Cá nhân của bất cứ ai, xác định, bảo mật hoặc sở hữu thông tin
						li Tem thực phẩm, chứng từ WIC, SNAP hoặc WIC hàng hóa, hỗ trợ chính phủ
						li Bị đánh cắp tài sản, tài sản với số Serial Removed/thay đổi, các công cụ trộm cắp,...
						li ID thẻ, giấy phép, huy hiệu cảnh sát, văn bản chính phủ, giấy khai sinh,...
						li Quân đội Mỹ không phi quân sự trong phù hợp với chính sách phòng thủ
						li Giả, bản sao, hoặc các mục lậu; vé hoặc thẻ quà tặng hạn chế chuyển giao
						li Xổ số hoặc vé raffle, rút thăm trúng thưởng, máy đánh bạc, mặt hàng
						li Đăng bài hoặc email mục đích chính của đó là lưu lượng truy cập đến một trang web
						li Đăng hoặc cung cấp email, thúc đẩy, hoặc liên kết đến các sản phẩm hoặc dịch vụ không mong muốn
						li Tiếp thị liên kết; mạng, hoặc đa cấp tiếp thị; kim tự tháp Schemes
						li Bất kỳ tốt, Dịch vụ, hoặc nội dung vi phạm pháp luật hoặc quyền hợp pháp của người khác
					p Xin vui lòng không sử dụng CL cho các mục đích trên, vui lòng báo cáo nếu bất cứ ai mà bạn thấy làm như vậy.
					p Cảm ơn bạn đã giúp đỡ và giữ Craigslist an toàn và hữu ích cho tất cả mọi người.
