section.details
	nav.breadcrumb
		.container-fluid
			a.item(href='#') Trang chủ
			a.item(href='#') Cần bán
			a.item(href='#') Ô tô
			a.item(href='#') Cafe Racer
	.maincontent
		.container-fluid
			.row
				.col-lg-6
					.left
						h1.title Moto racer Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, ab.
						.rate
							.stars
								i.mdi.mdi-star.voted
								i.mdi.mdi-star.voted
								i.mdi.mdi-star.voted
								i.mdi.mdi-star
								i.mdi.mdi-star
							.numbrate
								| 3.1 (3)
								.more
									.item
										p 5
										.stars
											i.mdi.mdi-star.voted
										.progress
											.progress-bar.w-25
										p 1
									.item
										p 4
										.stars
											i.mdi.mdi-star.voted
										.progress
											.progress-bar.w-25
										p 1
									.item
										p 3
										.stars
											i.mdi.mdi-star.voted
										.progress
											.progress-bar.w-75
										p 4
									.item
										p 2
										.stars
											i.mdi.mdi-star.voted
										.progress
											.progress-bar.w-100
										p 6
									.item
										p 1
										.stars
											i.mdi.mdi-star.voted
										.progress
											.progress-bar.w-50
										p 3
						.gallery
							.swiper-container.gallery-top
								.swiper-wrapper
									.swiper-slide
										img(src='img/product-details/moto_1.jpg')
									.swiper-slide
										img(src='img/product-details/moto_2.jpg')
									.swiper-slide
										img(src='img/product-details/moto_3.jpg')
									.swiper-slide
										img(src='img/product-details/moto_4.jpg')
									.swiper-slide
										img(src='img/product-details/moto_5.jpg')
								//- Add Arrows
								.swiper-button-next.swiper-button-white
								.swiper-button-prev.swiper-button-white
							.swiper-container.gallery-thumbs
								.swiper-wrapper
									.swiper-slide
										img(src='img/product-details/moto_1.jpg')
									.swiper-slide
										img(src='img/product-details/moto_2.jpg')
									.swiper-slide
										img(src='img/product-details/moto_3.jpg')
									.swiper-slide
										img(src='img/product-details/moto_4.jpg')
									.swiper-slide
										img(src='img/product-details/moto_5.jpg')
				.col-lg-6
					.right
