section.details
	nav.breadcrumb
		.container
			a.item(href='index.html') Trang chủ
			a.item(href='category.html') Cần bán
			a.item(href='category.html') Ô tô
			a.item(href='details.html') Cafe Racer
	.maincontent
		.container
			.row
				.col-lg-12
					.center
						.title Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, ab.
						.price
							| 19.000.000 đ
						.rate
							.stars
								i.mdi.mdi-star.voted
								i.mdi.mdi-star.voted
								i.mdi.mdi-star.voted
								i.mdi.mdi-star
								i.mdi.mdi-star
							.numbrate 3.1 (15)
								.more.d-none
									.item
										p 5
										.stars
											i.mdi.mdi-star.voted
										.progress
											.progress-bar.w-25
										p 1
									.item
										p 4
										.stars
											i.mdi.mdi-star.voted
										.progress
											.progress-bar.w-25
										p 1
									.item
										p 3
										.stars
											i.mdi.mdi-star.voted
										.progress
											.progress-bar.w-75
										p 4
									.item
										p 2
										.stars
											i.mdi.mdi-star.voted
										.progress
											.progress-bar.w-100
										p 6
									.item
										p 1
										.stars
											i.mdi.mdi-star.voted
										.progress
											.progress-bar.w-50
										p 3
						.userpost 
							| Được đăng bởi 
							span.user locnt19
							|  từ 
							span.time 1 giờ trước
						.report
							span Báo cáo
							.popup.d-none
								.item
									.custom-checkbox
										input.checkbox(type="checkbox" id='1')
										label
									.text
										label(for="1") Vật phẩm cấm
								.item
									.custom-checkbox
										input.checkbox(type="checkbox" id='2')
										label
									.text
										label(for="2") Spam
								.item
									.custom-checkbox
										input.checkbox(type="checkbox" id='3')
										label
									.text
										label(for="3") Lừa đảo
								.item
									button.send Gửi báo cáo
				.col-lg-6
					.left
						.gallery
							.swiper-container.gallery-top
								.swiper-wrapper
									.swiper-slide
										img(src='img/product-details/moto_1.jpg')
									.swiper-slide
										img(src='img/product-details/moto_2.jpg')
									.swiper-slide
										img(src='img/product-details/moto_3.jpg')
									.swiper-slide
										img(src='img/product-details/moto_4.jpg')
									.swiper-slide
										img(src='img/product-details/moto_5.jpg')
								//- Add Arrows
								.arrows
									.button-next
										i.mdi.mdi-chevron-right
									.button-prev
										i.mdi.mdi-chevron-left
							.swiper-container.gallery-thumbs
								.swiper-wrapper
									.swiper-slide
										img(src='img/product-details/moto_1.jpg')
									.swiper-slide
										img(src='img/product-details/moto_2.jpg')
									.swiper-slide
										img(src='img/product-details/moto_3.jpg')
									.swiper-slide
										img(src='img/product-details/moto_4.jpg')
									.swiper-slide
										img(src='img/product-details/moto_5.jpg')
						hr
						.derc
							.title Thông tin chi tiết
							| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis reprehenderit, quia deleniti aperiam cupiditate in quisquam perferendis at voluptatibus veniam ipsa! Facere laudantium similique non commodi repellat vitae veniam quia itaque numquam hic sint nemo, consequatur praesentium est totam. Iusto sint odit accusamus ipsa recusandae tempora porro voluptatem. Quod, soluta tempora. Ex tempore ut quod id et totam molestiae dignissimos ab temporibus quam. Laborum consequatur, soluta odio facere delectus saepe inventore. Maiores ipsa quam cupiditate quibusdam quisquam necessitatibus, provident illum labore molestias vel aperiam debitis nisi iste, sapiente amet! Enim autem reprehenderit expedita quasi itaque necessitatibus, quas eos? Aspernatur, deleniti.
				.col-lg-6
					.right
						.row
							.contact
								#map
								button.replynow liên hệ ngay
								.phone 0383.303.809
							.info
								.row
									.label 
										span.key name:
										span.value  2015 INFINITI QX60
								.row
									.label
										span.key VIN:
										span.value  5N1AL0MN1FC501824
								.row
									.label
										span.key cylinders:
										span.value  6 cylinder
								.row
									.label
										span.key drive:
										span.value  fw
								.row
									.label
										span.key fuel: 
										span.value  gas
								.row
									.label
										span.key odometer: 
										span.value  3495
								.row
									.label
										span.key transmission:
										span.value  automati
								.row
									.label
										span.key type:
										span.value  SU
