section.recalls
	nav.breadcrumb
		.container
			a.item(href='index.html') Trang chủ
			a.item(href='privacy.html') Giới thiệu
			a.item(href='privacy.html') Tránh lừa đảo
	.page-content
		.container 
			.row 
				.col
					.title 
						h1 Tránh lừa đảo
						.title-page
							h2 Giao dịch tại địa phương, trực tiếp theo dõi 
								span quy tắc này và tránh 99% các nỗ lực lừa đảo.
						ul 
							li Không gia hạn thanh toán cho bất cứ ai mà bạn chưa gặp trực tiếp.
							li Cẩn thận cung cấp liên quan đến vận chuyển - 
								span đối phó với người dân địa phương bạn có thể gặp trực tiếp.
							li Không bao giờ chuyển tiền (ví dụ: Western Union) - 
								span bất kỳ ai yêu cầu bạn là kẻ lừa đảo.
							li Không chấp nhận thủ quỹ / séc được chứng nhận hoặc lệnh chuyển tiền - 
								span ngân hàng giả mạo tiền mặt, sau đó chịu trách nhiệm với bạn.
							li Không bao giờ cung cấp thông tin tài chính 
								span (tài khoản ngân hàng, an sinh xã hội, tài khoản paypal, v.v.).
							li Không thuê hoặc mua tầm nhìn chưa thấy mà "thỏa thuận" tuyệt vời có thể không tồn tại.
					.title-2 
						.title-page
							h2 Tôi nên thông báo cho ai về các hành vi lừa đảo hoặc lừa đảo?
						ul 
							li
								a(href="#") Trung tâm khiếu nại gian lận Internet
							li
								a(href="#") Mẫu đơn và đường dây nóng khiếu nại 
									span FTC: 877-FTC-HELP (877-382-4357)
							li
								a(href="#") Sentinel / Military Consumer (dành cho các thành viên và gia đình dịch vụ vũ trang)
							li
								a(href="#") Báo cáo vi phạm bản quyền và phần mềm SIIA
							li
								a(href="#") Khiếu nại của Tổng chưởng lý Ohio
							li
								a(href="#") Tổng chưởng lý New York, Tránh gian lận đầu tư trực tuyến
						h3 Nếu bạn bị lừa gạt bởi người mà bạn gặp trực tiếp, hãy liên hệ với sở cảnh sát địa phương.
						h3 Nếu bạn nghi ngờ rằng một bài đăng trên craigslist có thể được kết nối với một scam, xin vui lòng gửi cho chúng tôi các 
							span 
								a(href="#") chi tiết.
					.title-3 
						.title-page
							h2 Nhận biết lừa đảo
							h3 Hầu hết các vụ lừa đảo liên quan đến một hoặc nhiều điều sau đây:
						ul 
							li Email hoặc văn bản từ một người không phải là địa phương trong khu vực của bạn.
							li Điều tra ban đầu mơ hồ, ví dụ hỏi về "mục." Ngữ pháp / chính tả kém.
							li Western Union, Money Gram, kiểm tra thủ quỹ, lệnh chuyển tiền, paypal, vận chuyển, dịch vụ ký quỹ hoặc "bảo lãnh".
							li Không có khả năng hoặc từ chối gặp mặt trực tiếp để hoàn thành giao dịch.
					.content
						.title-page
							h2 Ví dụ về lừa đảo
						h4 1. Ai đó tuyên bố giao dịch của bạn được đảm bảo, rằng người mua / người bán được chứng nhận chính thức
						ul
							li Chúng tôi thực hiện các biện pháp phòng ngừa để ngăn chặn truy cập trái phép hoặc lạm dụng dữ liệu về bạn.
							li Chúng tôi không chạy quảng cáo, ngoài mục rao vặt được đăng bởi người dùng của chúng tôi.
							li Chúng tôi không chia sẻ dữ liệu của bạn với các bên thứ ba cho mục đích tiếp thị.
							li Chúng tôi không tham gia vào các trung tâm tiếp thị hoặc liên kết các chương trình giới thiệu.
						h4 2. Người ở xa cung cấp séc thu ngân trông thật (nhưng giả):
						ul
							li Dữ liệu bạn đăng trên hoặc gửi qua CL, và/hoặc gửi cho chúng tôi trực tiếp hoặc thông qua các trang web khác
							li Thẻ tín dụng dữ liệu, được truyền đến bộ vi xử lý thanh toán thông qua một giao thức bảo mật (ví dụ như SSL).
							li Dữ liệu bạn gửi hoặc cung cấp (ví dụ như tên, địa chỉ, email, điện thoại, Fax, hình ảnh, thuế ID).
						h4 3. Ai đó yêu cầu thanh toán dịch vụ hữu tuyến qua Western Union hoặc MoneyGram:
						ul
							li Chúng tôi giữ lại dữ liệu khi cần thiết cho mục đích kinh doanh của chúng tôi và/hoặc theo yêu cầu của pháp luật.
							li Chúng tôi làm cho niềm tin tốt nỗ lực để lưu trữ dữ liệu một cách an toàn, nhưng có thể làm cho không có bảo lãnh.
							li Bạn có thể truy cập và cập nhật dữ liệu nhất định về bạn qua đăng nhập tài khoản của mình.
						h4 4. Người ở xa đề nghị gửi cho bạn một tấm séc hoặc lệnh chuyển tiền và sau đó nhờ bạn chuyển tiền:
						ul
							li Nhà cung cấp dịch vụ (ví dụ: bộ xử lý thanh toán) làm việc thay mặt chúng tôi.
							li Để đáp ứng với trát lệnh, bảo đảm tìm kiếm, lệnh tòa án, hoặc quy trình pháp lý khác.
						h4 5. Người bán ở xa đề nghị sử dụng dịch vụ ký quỹ trực tuyến:
						ul
							li Nhà cung cấp dịch vụ (ví dụ: bộ xử lý thanh toán) làm việc thay mặt chúng tôi.
							li Để đáp ứng với trát lệnh, bảo đảm tìm kiếm, lệnh tòa án, hoặc quy trình pháp lý khác.
						h4 6. Người bán ở xa yêu cầu trả trước một phần, sau đó họ sẽ chuyển hàng:
						ul
							li Nhà cung cấp dịch vụ (ví dụ: bộ xử lý thanh toán) làm việc thay mặt chúng tôi.
							li Để đáp ứng với trát lệnh, bảo đảm tìm kiếm, lệnh tòa án, hoặc quy trình pháp lý khác.
						h4 7. Công ty nước ngoài cung cấp cho bạn một công việc nhận thanh toán từ khách hàng, sau đó chuyển tiền:
						ul
							li Nhà cung cấp dịch vụ (ví dụ: bộ xử lý thanh toán) làm việc thay mặt chúng tôi.
							li Để đáp ứng với trát lệnh, bảo đảm tìm kiếm, lệnh tòa án, hoặc quy trình pháp lý khác.
					.comment 
						.title-page
							h2 Email lừa đảo thực tế được gửi đến người dùng craigslist:
						.comment-title 
							p Chào,
							br 
							p Tôi đang bán chiếc xe này vì trung đội của tôi đã được gửi trở lại Afganistan và không muốn nó bị cũ ở sân sau của tôi. Giá thấp vì tôi cần bán nó trước ngày 16 tháng 11. Nó không có thiệt hại, không có vết trầy xước hoặc vết lõm, không có khuyết điểm ẩn. Đó là trong tình trạng vô nhiễm, được duy trì tỉ mỉ và không liên quan đến bất kỳ tai nạn nào ... Tôi có tiêu đề, rõ ràng, dưới tên của tôi. Các Denali có 35.000 dặm VIN # 1GKEK63U16J138428.
							p Nó vẫn có sẵn để bán nếu quan tâm, giá như được nêu trong quảng cáo $ 4.300. Chiếc xe đang ở Baltimore, MD, trong trường hợp nó được bán, tôi sẽ lo việc vận chuyển. Hãy cho tôi biết nếu bạn quan tâm, gửi lại email.
							p Trân trọng!!!
						.comment-title 
							p Chào,
							br 
							p Tôi đang bán chiếc xe này vì trung đội của tôi đã được gửi trở lại Afganistan và không muốn nó bị cũ ở sân sau của tôi. Giá thấp vì tôi cần bán nó trước ngày 16 tháng 11. Nó không có thiệt hại, không có vết trầy xước hoặc vết lõm, không có khuyết điểm ẩn. Đó là trong tình trạng vô nhiễm, được duy trì tỉ mỉ và không liên quan đến bất kỳ tai nạn nào ... Tôi có tiêu đề, rõ ràng, dưới tên của tôi. Các Denali có 35.000 dặm VIN # 1GKEK63U16J138428.
							p Nó vẫn có sẵn để bán nếu quan tâm, giá như được nêu trong quảng cáo $ 4.300. Chiếc xe đang ở Baltimore, MD, trong trường hợp nó được bán, tôi sẽ lo việc vận chuyển. Hãy cho tôi biết nếu bạn quan tâm, gửi lại email.
							p Trân trọng!!!
						.comment-title 
							p Chào,
							br 
							p Tôi đang bán chiếc xe này vì trung đội của tôi đã được gửi trở lại Afganistan và không muốn nó bị cũ ở sân sau của tôi. Giá thấp vì tôi cần bán nó trước ngày 16 tháng 11. Nó không có thiệt hại, không có vết trầy xước hoặc vết lõm, không có khuyết điểm ẩn. Đó là trong tình trạng vô nhiễm, được duy trì tỉ mỉ và không liên quan đến bất kỳ tai nạn nào ... Tôi có tiêu đề, rõ ràng, dưới tên của tôi. Các Denali có 35.000 dặm VIN # 1GKEK63U16J138428.
							p Nó vẫn có sẵn để bán nếu quan tâm, giá như được nêu trong quảng cáo $ 4.300. Chiếc xe đang ở Baltimore, MD, trong trường hợp nó được bán, tôi sẽ lo việc vận chuyển. Hãy cho tôi biết nếu bạn quan tâm, gửi lại email.
							p Trân trọng!!!
