section.recalls
	nav.breadcrumb
		.container
			a.item(href='index.html') Trang chủ
			a.item(href='privacy.html') Giới thiệu
			a.item(href='privacy.html') Tránh lừa đảo
	.page-content
		.container 
			.row 
				.col
					.title 
						h2 Bán hàng bất hợp pháp các mặt hàng bị thu hồi đều bị cấm 
						h3 Hãy chắc chắn các mặt hàng an toàn để sử dụng và hợp pháp để bán.
						.help 
							h4 US :
							ul 
								li 
									a(href="#") Ủy ban An toàn Sản phẩm Tiêu dùng (cpsc.gov)
								li 
									a(href="#") Hướng dẫn bán lại sản phẩm an toàn hơn
								li 
									a(href="#") Safer Products.gov (saferproducts.gov)
								li 
									a(href="#") Recalls.gov (recalls.gov)
								li 
									a(href="#") Safercar.gov (safercar.gov)
						.help 
							h4 CA:
							a(href="#") Sức khỏe An toàn Sản phẩm Tiêu dùng Canada (hc-sc.gc.ca)
						.help 
							h4 UK: 
							a(href="#") Hiệp hội Hoàng gia phòng ngừa tai nạn (rospa.com)
						.help 
							h4 EU: 
							a(href="#") An toàn tiêu dùng của Liên minh Châu Âu (ec.europa.eu)
						.help 
							h4 AU: 
							a(href="#") Sản phẩm An toàn Úc (sản phẩm.gov.au)
