extends _layout/layout.pug
block variables
	- var title = "craigslist_2"
	- var description = "Description for craigslist_2 page"
	- var bodyclass = "craigslist_2"
	- var href = "/craigslist_2.html"
block body
	include ../lib/craigslist_2/index.pug
//- block footer
//- 	include ../lib/footer/index.pug
