extends _layout/layout.pug
block variables
	- var title = "details"
	- var description = "Description for details page"
	- var bodyclass = "details"
	- var href = "/details.html"
block header
	include ../lib/header/index.pug
block body
	include ../lib/details/index.pug
block footer
	include ../lib/footer/index.pug
block js
	script(async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBTIGCWQJAj3cSPcUyJrH6nF3P5Y1lYzI&callback=initMap")
