extends _layout/layout.pug
block variables
	- var title = "details"
	- var description = "Description for details page"
	- var bodyclass = "details"
	- var href = "/details.html"
block body
	include ../lib/details/index.pug
block footer
	include ../lib/footer/index.pug
