extends _layout/layout.pug
block variables
	- var title = "register"
	- var description = "Description for register page"
	- var bodyclass = "register"
	- var href = "/register.html"
block header
	include ../lib/header/index.pug
block body
	include ../lib/register/index.pug
block footer
	include ../lib/footer/index.pug
