extends _layout/layout.pug
block variables
	- var title = "safety"
	- var description = "Description for safety page"
	- var bodyclass = "safety"
	- var href = "/safety.html"
block header
	include ../lib/header/index.pug
block body
	include ../lib/safety/index.pug
block footer
	include ../lib/footer/index.pug
