section.homepage
	.container-fluid
		.row
			.col-lg-3
				.leftbar
					#logo
						a(href="") craigslist
					ul.postlks
						li
							a(href="#") tạo bài viết mới
						li
							a(href="login.html") tài khoản của tôi
					form#search.homepage-search(action="#" method="GET")
						input#query.querybox.flatinput(name="query" data-autocomplete="search-count" autocorrect="off" autocapitalize="off" placeholder="tìm kiếm craigslist" autofocus="autofocus")
						button#go.searchbtn(type="submit")
							span.icon.icon-search
								span.screen-reader-text
									| tìm
									| kiếm craigslist
					.calban lịch sự kiện
					.date
					ul.leftlinks
						li
							a(href="#") hỗ trợ, faq, lạm dụng, pháp lý
						li
							a(href="#") tránh gian lận & lừa đảo
						li
							a(href="#") lời khuyên an toàn cá nhân
						li
							a(href="#")
								| điều khoản sử dụng
								sup.neu mới
						li
							a(href="#") chính sách bảo mật
						li
							a(href="#") trạng thái hệ thống
					ul.leftlinks
						li
							a(href="#") về craigslist
						li
							a(href="https://www.youtube.com/user/craigslist") craigslist TV
						li.sflinks
							a(href="https://forecast.weather.gov/MapClick.php?zoneid=CAZ006") thời tiết
							a(href="https://earthquake.usgs.gov/earthquakes/map/") động đất
							a(href="https://tidesandcurrents.noaa.gov/waterlevels.html?id=9414290") thủy triều
			.col-lg-7.p-lg-0
				.row
					.col-12
						nav.navtop.regular
							.regular-area
								h2.area thành phố hồ chí minh
								ul.sublinks
									li
										a(href="#" title="hồ chí minh") hcm
									li
										a(href="#" title="hà nội") hn
									li
										a(href="#" title="cà mau") cm
									li
										a(href="#" title="đà nẵng") dn
									li
										a(href="#" title="đà lạt") dl
							.enter-area
								input.subarea-input.flatinput(type="text" data-autocomplete="subarea" value="")
								.exit-subarea ×
							.custom-area.no-name
								h2.area đất đỏ
								.radius-info
									| trong vòng 
									span.distance 1
									|  km đến 
									span.postal 5
									|  km
				.row.center
					.col-lg-4
						.community
							.title
								a(href="#") cộng đồng
							ul.nav
								li
									a(href="#") hoạt động
								li
									a(href="#") nghệ thuật
								li
									a(href="#") chăm sóc trẻ em
								li
									a(href="#") lớp học
								li
									a(href="#") sự kiện
								li
									a(href="#") đánh rơi / tìm kiếm
								li
									a(href="#") nhóm
								li
									a(href="#") tin địa phương
								li
									a(href="#") chung
								li
									a(href="#") bỏ lỡ
								li
									a(href="#") âm nhạc
								li
									a(href="#") thú cưng
								li
									a(href="#") chính trị
								li
									a(href="#") xe ôm
								li
									a(href="#") tình nguyện
						.services
							.title
								a(href="#") dịch vụ
							ul.nav
								li
									a(href="#") ô tô
								li
									a(href="#") làm đẹp
								li
									a(href="#") điện thoại
								li
									a(href="#") máy tính
								li
									a(href="#") sáng tạo
								li
									a(href="#") chu kỳ
								li
									a(href="#") sự kiện
								li
									a(href="#") nông trại
								li
									a(href="#") lao động / di chuyển
								li
									a(href="#") tài chính
								li
									a(href="#") hộ gia đình
								li
									a(href="#") hợp pháp
								li
									a(href="#") bài học
								li
									a(href="#") biển
								li
									a(href="#") thú cưng
								li
									a(href="#") địa ốc
								li
									a(href="#") thương mại
								li
									a(href="#") du lịch / nghỉ dưỡng
						.forums
							.title
								a(href="#") diễn dàn
							ul.nav
								li
									a(href="#") android
								li
									a(href="#") ios
								li
									a(href="#") hình ảnh
								li
									a(href="#") ăn chay
								li
									a(href="#") trợ giúp
								li
									a(href="#") gia đình
								li
									a(href="#") khoa học
								li
									a(href="#") game
								li
									a(href="#") làm đẹp
								li
									a(href="#") lịch sử
								li
									a(href="#") máy tính
								li
									a(href="#") du lịch / nghỉ dưỡng
								li
									a(href="#") phản hồi
								li
									a(href="#") phim
								li
									a(href="#") robot
								li
									a(href="#") thuế
								li
									a(href="#") tâm lý
								li
									a(href="#") truyện cười
								li
									a(href="#") thể thao
								li
									a(href="#") tivi
								li
									a(href="#") viết lách
								li
									a(href="#") việc làm
								li
									a(href="#") vật nuôi
								li
									a(href="#") nông trại
					.col-lg-4
						.housing
							.title
								a(href="#") nhà đất
							ul.nav
								li
									a(href="#") bất động sản
								li
									a(href="#") căn hộ / nhà ở
								li
									a(href="#") thuê phòng
								li
									a(href="#") cho thuê nghỉ dưỡng
								li
									a(href="#") cho thuê lại
								li
									a(href="#") đổi nhà
								li
									a(href="#") chỗ đậu xe / nhà kho
								li
									a(href="#") phòng trọ / ở ghép
								li
									a(href="#") văn phòng / thương mại
						.forsale
							.title
								a(href="#") cần bán
							ul.nav
								li
									a(href="#") hình ảnh / video
								li
									a(href="#") bánh xe / lốp xe
								li
									a(href="#") bộ sưu tập
								li
									a(href="#") dụng cụ
								li
									a(href="#") di động
								li
									a(href="#") đồ chơi / game
								li
									a(href="#") sức khỏe và sắc đẹp
								li
									a(href="#") điện tử
								li
									a(href="#") đồ cổ
								li
									a(href="#") video game
								li
									a(href="#") gia đình
								li
									a(href="#") hàng không
								li
									a(href="#") linh kiện tàu lửa
								li
									a(href="#") phụ tùng máy tính
								li
									a(href="#") phụ tùng ô tô
								li
									a(href="#") quần áo / phụ kiện
								li
									a(href="#") trang trại
								li
									a(href="#") sách
								li
									a(href="#") thiết bị nặng
								li
									a(href="#") thanh lý
								li
									a(href="#") thể thao
								li
									a(href="#") thiết bị
								li
									a(href="#") tổng hợp
								li
									a(href="#") thuyền
								li
									a(href="#") trao đổi
								li
									a(href="#") viết báo / hiệu chỉnh
								li
									a(href="#") làm phim
								li
									a(href="#") di động
								li
									a(href="#") đồ chơi / game
								li
									a(href="#") sức khỏe và sắc đẹp
								li
									a(href="#") điện tử
								li
									a(href="#") đồ cổ
								li
									a(href="#") video game
								li
									a(href="#") gia đình
					.col-lg-4
						.jobs
							.title
								a(href="#") việc làm
							ul.nav
								li
									a(href="#") bán hàng / kinh doanh
								li
									a(href="#") sỉ / lẻ
								li
									a(href="#") bảo vệ
								li
									a(href="#") bất động sản
								li
									a(href="#") chính phủ
								li
									a(href="#") có tay nghề / thủ công
								li
									a(href="#") dịch vụ
								li
									a(href="#") khách hàng
								li
									a(href="#") giáo dục
								li
									a(href="#") hành chính
								li
									a(href="#") văn phòng
								li
									a(href="#") hệ thống / mạng
								li
									a(href="#") hỗ trợ kỹ thuật
								li
									a(href="#") kinh doanh / quản lý
								li
									a(href="#") kế toán / tài chính
								li
									a(href="#") kỹ sư / kỹ thuật
								li
									a(href="#") phi lợi nhuận
								li
									a(href="#") nhân sự
								li
									a(href="#") sức khỏe / y tế
								li
									a(href="#") phần mềm
								li
									a(href="#") salon / spa
								li
									a(href="#") sản xuất
								li
									a(href="#") sinh học
								li
									a(href="#") khoa học
								li
									a(href="#") tiếp thị / pr 
								li
									a(href="#") vận tải
						.gigs
							.title
								a(href="#") hợp động biểu diễn
							ul.nav
								li
									a(href="#") máy tính
								li
									a(href="#") sáng tạo
								li
									a(href="#") sự kiện
								li
									a(href="#") trong nước 
								li
									a(href="#") lao động
								li
									a(href="#") viết
						.resumes
							.title
								a(href="#") sơ yếu lí lịch
			.col-lg-2
				.rightbar
					.langlinks
						select(name="lang")
							option(value="") dansk
							option(value="") deutsch
							option(value="") english
							option(value="") español
							option(value="") français
							option(value="") italiano
							option(value="") português
							option(value="") suomi
							option(value="") svenska
							option(selected="" value="") tiếng việt
							option(value="") türkçe
							option(value="") русский
							option(value="") 中文
							option(value="") 日本語
							option(value="") 한국말
						a.langcur(href="") english
					.menu
						.tab
							input#nearby(type="checkbox" name="tabs")
							label.title(for="nearby") khu vực lân cận
							.tab-content
								ul
									li
										a(href="#") bà rịa vũng tàu
									li
										a(href="#") đồng nai
									li
										a(href="#") bình dương
									li
										a(href="#") tiền giang
									li
										a(href="#") long an
									li
										a(href="#") bến tre
									li
										a(href="#") bình phước
						.tab
							input#city(type="checkbox" name="tabs")
							label.title(for="city") thành phố của việt nam
							.tab-content
								ul
									li
										a(href="#") Bà Rịa
									li
										a(href="#") Vũng Tàu
									li
										a(href="#") Bạc Liêu
									li
										a(href="#") Bảo Lộc
									li
										a(href="#") Bắc Giang
									li
										a(href="#") Bắc Kạn
									li
										a(href="#") Bắc Ninh
									li
										a(href="#") Bến Tre
									li
										a(href="#") Biên Hòa
									li
										a(href="#") Buôn Ma Thuột
									li
										a(href="#") Cà Mau
									li
										a(href="#") Cam Ranh
									li
										a(href="#") Cao Bằng
									li
										a(href="#") Cao Lãnh
									li
										a(href="#") Cẩm Phả
									li
										a(href="#") Châu Đốc
									li
										a(href="#") Đà Lạt
									li
										a(href="#") Điện Biên Phủ
									li
										a(href="#") Đông Hà
									li
										a(href="#") Đồng Hới
									li
										a(href="#") Hà Giang
									li
										a(href="#") Hạ Long
									li
										a(href="#") Hà Tĩnh
									li
										a(href="#") Hải Dương
									li
										a(href="#") Hòa Bình
									li
										a(href="#") Hội An
									li
										a(href="#") Huế
									li
										a(href="#") Hưng Yên
						.tab
							input#municipalities(type="checkbox" name="tabs")
							label.title(for="municipalities") thành phố trực thuộc trung ương
							.tab-content
								ul
									li
										a(href="#") Hà Nội
									li
										a(href="#") Thành Phố Hồ Chí Minh
									li
										a(href="#") Cần Thơ
									li
										a(href="#") Đà Nẵng
									li
										a(href="#") Hải Phòng
