section.safety
	nav.breadcrumb
		.container
			a.item(href='index.html') Trang chủ
			a.item(href='safety.html') An toàn
	.page-content
		.container
			.row
				.col
					p.child
						a(href="safety.html") An toàn
						|  | 
						a(href="recalls.html") Đổi trả
						|  | 
						a(href="scrams.html") Lừa đảo
						|  | 
						a(href="forum.html") Diễn đàn
					h1 An toàn cá nhân
					p Phần lớn áp đảo của người sử dụng Craigslist là đáng tin cậy và ý nghĩa tốt.
					p Với hàng tỷ tương tác của con người, tỷ lệ tội phạm bạo lực liên quan đến Craigslist là rất thấp.
					p Hàng triệu tội ác bạo lực xảy ra tại Mỹ mỗi năm: 10000 + homicides, 600000 + robberies, 5.000.000 tấn công.
					p Tuy nhiên, xin vui lòng đi cùng một ý thức phổ biến trực tuyến như bạn sẽ diễn đàn.
					p Khi gặp ai đó lần đầu tiên, hãy nhớ:
					ul
						li Nhấn mạnh vào một nơi gặp gỡ công cộng như một quán cà phê, ngân hàng, hoặc trung tâm mua sắm.
						li Không được đáp ứng ở một nơi hẻo lánh, hoặc mời người lạ vào nhà của bạn.
						li Được đặc biệt cẩn thận mua/bán các mặt hàng giá trị cao.
						li Giới thiệu với bạn bè hoặc thành viên gia đình nơi bạn đang đi.
						li Lấy điện thoại di động của bạn cùng nếu bạn có một.
						li Hãy xem xét việc có một người bạn đi cùng bạn.
						li Tin tưởng vào bản năng của bạn.
					p Taking các biện pháp phòng ngừa đơn giản giúp làm cho Craigslist an toàn hơn cho tất cả mọi người.
					p Để biết thêm thông tin về an toàn cá nhân trực tuyến, hãy kiểm tra các tài nguyên này:
					ul
						li
							a(href="#") http://www.staysafeonline.org/
						li
							a(href="#") http://www.onguardonline.gov/
						li
							a(href="#") http://getsafeonline.org
						li
							a(href="#") http://wiredsafety.org
					p Vui lòng xem lại trang tránh Scams của chúng tôi là tốt.
