header.global.container-fluid
	.header-global
		.list
			a.header-logo(name='logoLink', href='index.html') CL
		.adminlinks
			ul.actions
				li.user
					a(href='#') đăng nhập
				li.user
					a(href='#') tài khoản
