header.global.container-fluid
	.header-global
		.list
			a.header-logo(name='logoLink', href='index.html') CL
		.adminlinks
			ul.actions
				li.user
					a(href='login.html') đăng nhập
				li.user
					a(href='register.html') đăng ký
