section.help
	nav.breadcrumb
		.container
			a.item(href='index.html') Trang chủ
			a.item(href='category.html') help
	.container
		.row.center
			.col-lg-6
				.community
					.title
						a(href="#") bài đăng phân loại
					ul.nav
						li
							a(href="#") làm thế nào để đăng
						li
							a(href="#") tất cả quảng cáo đều miễn phí?
						li
							a(href="#") làm thế nào để trả lời
						li
							a(href="#") Chuyển tiếp email 2 chiều là gì?
						li
							a(href="#") cách chỉnh sửa hoặc xóa
						li
							a(href="#") làm thế nào để đăng lại
						li
							a(href="#") làm thế nào để thêm hình ảnh
						li
							a(href="#") gửi lại bài đăng / chỉnh sửa / xóa email
						li
							a(href="#") tài khoản người dùng
						li
							a(href="#") xác minh qua điện thoại
						li
							a(href="#") bài viết của tôi ở đâu?
						li
							a(href="#") email tự xuất bản của tôi ở đâu?
						li
							a(href="#") tại sao bài viết của tôi bị xóa?
						li
							a(href="#") "cờ" và "gắn cờ" là gì
						li
							a(href="#") Tôi có thể quảng cáo dịch vụ của mình ở đâu?
						li
							a(href="#") email bị từ chối - DNS không chung chung
						li
							a(href="#") email bị từ chối - thất bại rDNS
						li
							a(href="#") Các câu hỏi thường gặp
				.services
					.title
						a(href="#") linh tinh
					ul.nav
						li
							a(href="#") trạng thái hệ thống
						li
							a(href="#") tìm kiếm craigslist
						li
							a(href="#") diễn đàn "bàn trợ giúp"
						li
							a(href="#") liên hệ chúng tôi
			.col-lg-6
				.housing
					.title
						a(href="#") đăng bài trả phí
					ul.nav
						li
							a(href="#") xe của phí đại lý
						li
							a(href="#") phí đăng bài
						li
							a(href="#") làm thế nào để gửi một công việc được trả lương
						li
							a(href="#") tuổi thọ của bài viết
						li
							a(href="#") Làm thế nào để chỉnh sửa hoặc xóa một bài đăng trả phí
						li
							a(href="#") Làm thế nào để đăng lại một bài trả phí
						li
							a(href="#") thanh toán hóa đơn trực tuyến
						li
							a(href="#") nguồn lực cho môi giới căn hộ NYC
						li
							a(href="#") bài viết trả phí: câu hỏi thường gặp
				.forsale
					.title
						a(href="#") tránh lừa đảo và gian lận
					ul.nav
						li
							a(href="#") phát hiện và tránh lừa đảo
						li
							a(href="#") "lừa đảo" là gì?
						li
							a(href="#") Ai đang đăng quảng cáo trong tài khoản của tôi?
						li
							a(href="#") Tại sao CL gửi email cho tôi để đăng nhập?
						li
							a(href="#") Tôi có thể tin tưởng thỏa thuận tuyệt vời nhưng kỳ lạ này?
				.resumes
					.title
							a(href="#") bản quyền, quấy rối, phap lí 
					ul.nav
						li
							a(href="#") phát hiện và tránh lừa đảo
						li
							a(href="#") "lừa đảo" là gì?
						li
							a(href="#") Ai đang đăng quảng cáo trong tài khoản của tôi?
						li
							a(href="#") Tại sao CL gửi email cho tôi để đăng nhập?
						li
							a(href="#") Tôi có thể tin tưởng thỏa thuận tuyệt vời nhưng kỳ lạ này?
